<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <a href="#/admin-allcategories">
        <img src="img/admin/categorymanage.png" alt=""/>
        <div class="caption">
            <h4>Manage Product Categories</h4> 
            <p> Manage all the products categories.</p>
        </div>
        </a>
    </div>	
    <div class="thumbnail">
        <a href="#/admin-allproducts">
        <img src="img/admin/prodmanage.png" alt=""/>
        <div class="caption">
            <h4>Manage Products</h4> 
            <p> Manage all the products in the inventory.</p>
        </div>
        </a>
    </div>	
</div>