<div>
    <div>
        <a class="col-sm-3 col-lg-3 col-md-3 btn btn-primary" href="#/admin">Admin Panel</a>
        <a class="col-sm-3 col-lg-3 col-md-3 btn btn-primary" href="#/admin-productform">New Product</a>
        <div class="col-sm-3 col-lg-3 col-md-3"> </div>
        <div class="col-sm-3 col-lg-3 col-md-3"> </div>
    </div>
    <br/><br/><br/>
    <div class="col-sm-4 col-lg-4 col-md-4" v-for="item in items">
        <div class="thumbnail">
            <img v-bind:src="'apis/fileuploader/get/products/' + item.itemid" alt=""/>
            <div class="caption">
                <h4 class="pull-right">Rs.{{ item.price }}</h4> 
                <h4><a href="#">{{ item.name }}</a></h4> 
                <p>{{ item.caption }}</p>
                <p class="pull-right">
                    <a class="btn btn-primary" :href="'#/admin-productform?productid=' + item.itemid">Edit</a>
                    <a class="btn btn-primary" href="">Delete</a>
                </p>
            </div>
                                    
        </div>	
    </div>
</div>